body {
  background: radial-gradient(#020b1f, #000);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #cce6ff;
}

.system-panel {
  background: rgba(10, 20, 40, 0.9);
  border: 1px solid #4fc3ff;
  padding: 25px;
  width: 380px;
  box-shadow: 0 0 20px #4fc3ff;
}

button {
  margin-top: 5px;
  padding: 6px 10px;
  background: transparent;
  border: 1px solid #4fc3ff;
  color: #cce6ff;
  cursor: pointer;
}

button:hover {
  background: rgba(79,195,255,0.2);
}

/* LOGIN */
.login-screen {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.login-box {
  background: rgba(10,20,40,0.95);
  border: 2px solid #4fc3ff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px #4fc3ff;
}

.login-box input {
  padding: 10px;
  width: 200px;
}

/* POPUP */
.popup {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popup-box {
  background: rgba(10,20,40,0.95);
  border: 2px solid #4fc3ff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px #4fc3ff;
}
